html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

header {
    margin: 0 auto;
    width: 90%;
    height: 130px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 165, 65, 2);
    border-radius: 30px 3px 30px 3px;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar:hover{
    box-shadow: 0 0 8px rgba(255, 165, 65, 2);
    transition: all ease-in-out 0.5s;
}
.navbar:not(:hover){
    transition: all ease-in-out 0.7s;
}
.navbar:active{
    box-shadow: 0 0 5px #00C853;
    transition: all ease-in-out 0.5s;
}
.navbar:not(:active){
    transition: all ease-in-out 0.5s;
}
.navbar:active #marka_isim{
    box-shadow: 5px 0 10px  #00C853;
}
.navbar:active #marka_isim h3{
    color: #00C853;
    transition: all ease-in-out 0.3s;
}
.navbar:active #kullanici{
    box-shadow: 0 0 5px #00C853;
}
.navbar:active #arama_simge{
    color: #00C853;
}
.navbar:active #arama_cubugu input{
    border: 2px solid white;
    box-shadow: 0 0 5px #00C853;
}
.navbar #marka_isim {
    height: 80px;
    width: 250px;
    text-align: left;
    font-size: 30px;
    color: #ffa500;
    background-color: white;
    border-radius: 32px 3px 32px 3px;
    padding: 15px 15px;
    box-shadow: 5px 0 10px rgba(255, 165, 0, 0.5);
    transition: all ease-in-out 0.3s;
}
.navbar #marka_isim:hover {
    box-shadow: 5px 0 10px rgba(59, 51, 35, 0.5);
    border-radius: 3px 32px 3px 32px;
    transform: scale(1.12);
}
.navbar #marka_isim:active {
    box-shadow: 0px 0 10px rgba(0, 255, 55, 0.9);
    color: #00C853;
    border-radius: 3px 32px 32px 32px;
}
.navbar #marka_isim h3 {
    margin: 5px 0 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    transform: translate(0,-10px);
}

.navbar #marka_isim p {
    margin: 1px 7px 0 0;
    text-align: center;
    font-size: 10px;
    color: #2c2c2c;
    transform: translate(0,-10px);
}
.navbar #arama {
    color: #2c2c2c;
    background: transparent;
    padding: 0 5px;
    position: absolute;
    left: 408px;
    top: 49px;
    z-index: 10;
}
.navbar #arama_simge{
    display: flex;
    font-size: 22px;
    transition: all ease-in-out 0.4s;
}
.navbar #arama_simge:hover{
    color: #ffa500;
}
.navbar #arama_simge:active{
    color: #00C853;
}
.navbar #cubuk {
    width: 100%;
    position: relative;
    margin-top: 9px;
    margin-right: 40px;
}

.navbar #cubuk input {
    border: 2px solid white;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    font-size: 16px;
    outline: none;
    transform: translate(50px,6px);
    padding: 5px 15px 5px 65px;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.navbar #cubuk input::placeholder {
    text-align: center;
    color: rgb(178, 178, 178);
    transform: translateX(-10px)
}

.navbar #cubuk input:focus::placeholder {
    color: white;
    transition: all ease-in-out 0.2s;
}
.navbar #cubuk input:focus {
    border-color: #1e3a8a;
    box-shadow: 0 0 5px #1e3a8a;
    transition: all ease-in-out 0.5s;
}

.navbar #cubuk input:not(:focus) {
    transition: all ease-in-out 0.2s;
}

.navbar #cubuk input:hover {
    border-color: #ffa500;
    box-shadow: 0 0 5px #ffa500;
    transition: all ease-in-out 0.2s;
}
.navbar #cubuk input:not(:hover) {
    transition: all ease-in-out 0.2s;
}
.navbar #arama,#cubuk{
    transform: translate(-35px,-9px);
}
.navbar #arama_cubugu input:active{
    border: 2px solid white;
    box-shadow: 0 0 5px #00C853;
    transition: all ease-in-out 0.5s;
}
.navbar #arama_cubugu input:not(:active){
    transition: all ease-in-out 0.5s;
}

.navbar #uclu_button {
    align-items: right;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    transform: translate(-12px,1px);
}

.navbar .sepet,
.navbar .favori,
.navbar .cikis {
    width: 130px;
    height: 40px;
    border-radius: 25px;
    background-color: #fdb633;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 2px solid white;
    transition: all ease-in-out 0.3s;;
}
.navbar .sepet:hover,
.navbar .favori:hover,
.navbar .cikis:hover{
    background-size: 150% 150%;
    background-color: transparent;
    color: #ffa500;
    background-color: white;
    box-shadow: 0 0 5px rgba(255, 165, 65, 2);
    font-size: 19px;
    transform: scale(1.12);
}
.navbar .favori:hover{
    font-size: 18px !important; 
}
.navbar .sepet:active,
.navbar .favori:active,
.navbar .cikis:active{
    box-shadow: 0 0 5px #00C853;
    color: #00C853;
}
.navbar #sepet_logo, 
.navbar #favori_logo,
.navbar #cikis_yap_logo{
    padding: 0 4px 0 0;
}
a{
    color: inherit;/* Önceki rengi neyse öyle kalmaya devam etsin */
    text-decoration: none;
}
a:hover,
a:focus,
a:active{
    color: inherit;
    text-decoration: none;
    outline: none;
}
.navbar #kullanici{
    width: 75px;
    height: 70px;
    border-radius:30px ;
    background-color:whitesmoke;
    display: flex;      
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(255, 165, 65, 2);
    transform: translate(-6px,0);
    transition: all ease-in-out 0.3s;
}
.navbar #kullanici:hover{
    box-shadow: 5px 0 10px rgba(255, 165, 0, 0.5);
}
.navbar #kullanici:active{
    box-shadow: 0 0 5px #00C853;
}
.navbar #kullanici #adam img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover; /*Resmi Kırpma İşlemi*/
    border: 3px solid #00C853;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.1);
    padding: 1px 1px;
    filter:brightness(80%);
    transform: translate(0px,2px);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.navbar #kullanici #adam img:hover{
    border-radius: 50%;
    object-fit: cover; /*Resmi Kırpma İşlemi*/
    border: 3px solid #66ff00;
    box-shadow: 0px 0px 2px 2px rgba(58, 109, 24, 0.);
    padding: 1px 1px;
    width: 60px;
    height: 60px;
    filter: brightness(1);
}
.navbar #kullanici #adam img:active{
    border-radius: 50%;
    object-fit: cover; /*Resmi Kırpma İşlemi*/
    border: 3px solid #d900ff;
    box-shadow: 0 0 10px rgb(72, 0, 255);
    padding: 1px 1px;
    transition: all ease-in-out 0.3s;
    width: 60px;
    height: 60px;
    filter: brightness(80%);
}
.navbar #kullanici #adam img:focus{
    border-radius: 50%;
    object-fit: cover; /*Resmi Kırpma İşlemi*/
    border: 3px solid #ff3e3e;
    box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.5);
    padding: 1px 1px;
    transition: all ease-in-out 0.3s;
    width: 60px;
    height: 60px;
    filter: brightness(1);
}
.navbar #kullanici #adam{
    transform: translate(1px,9px);
}
.navbar #kullanici #adam h5{
    font-size: 12px;
    font-family: "Poppins",sans-serif;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: auto;
    color: transparent;
    transition: all ease-in-out 0.3s;
    }
.navbar #kullanici #adam h5:hover{
    color: black;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
    cursor: default;
}

.nav_secenek{
    margin-top: 15px;
    width: 90%;
    height: 50px;
    background-color: #fdb633;
    border-radius: 30px;
    outline: 2px solid whitesmoke;
    outline-offset: -3px;
    box-shadow: 0 0 5px rgba(255, 165, 65, 2);
    position: absolute;
    z-index: 999;
}
.nav_secenek:active{
    background-color: #00C853;
    color: whitesmoke;
    box-shadow: 0 0 5px #00C853;
    transition: all ease-in-out 0.5s;
}
.nav_secenek:not(:active){
    transition: all ease-in-out 0.5s;
}
.nav_secenek ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*Hepsini eşit boşluklarla ayır*/
}
.nav_secenek ul a li{
    cursor: pointer;
    margin: auto;
    transform: translate(0,7.5px);
    width: 160px;
    height: 35px;
    background-color: white;
    border-radius: 25px;
    outline: 1px solid #fdb633;
    outline-offset: -3px;
    text-align: center;
    line-height: 35px; /*Yukarı aşağı ortalama için*/
    color: #fdb633;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 600; /*Inter SemiBold Tipi*/
    font-size: 14px;
}
.nav_secenek ul a li:hover{
    background-size: 150% 150%;
    transition: all 0.3s ease;
    background-color: #fdb633;
    box-shadow: 0 0 5px rgba(255, 165, 65, 2);
    transition: all ease-in-out 0.3s;
    font-size: 17px;
    transform: scale(1.12);
    color: rgb(255, 255, 255);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    outline: 1px solid whitesmoke;
    outline-offset: -3px;
}
.nav_secenek ul a li:not(:hover){
    transition: all ease-in-out 0.3s;
}
.nav_secenek ul a li:active{
    background-color: #00C853;
    color: white;
    transition: all ease-in-out 0.3s;
    box-shadow: none;
}

 