section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.bolum {
    width: 96.8%;
    height: auto;
    margin-bottom: 16px;
}

.en_ust {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding: 20px 0;
    margin-top: -1px;
}

.en_ust ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(14px);
    flex-wrap: wrap;
}

.en_ust ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
}

.en_ust ul li img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid linear-gradient(to bottom, #FFD700, #8A2BE2) 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.en_ust ul li img:hover {
    outline: 2px solid rgb(95, 15, 187);
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 10px rgb(72, 0, 255);
    transform: scale(1.02);
}

.en_ust ul li img:not(:hover) {
    transition: all ease-in-out 0.5s;
}

.en_ust_yazi {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #333;
    line-height: 1.3;
    width: 100%;
    cursor: default;
}

#ust_yazilar {
    order: -1;
    /* En üste gönderme */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(80px, -195px);
}

#ust_yazilar h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

#populer_urunler_ilk {
    text-align: left;
    cursor: default;
}

#populer_urunler_ikinci {
    text-align: right;
    cursor: pointer;
}

#buyuktur {
    margin-left: 5px;
}

.populer_urunler {
    width: 93%;
    margin: auto;
    height: 470px;
    display: flex;
    flex-direction: column;
    /* Üstten alta sıralama */
    background: linear-gradient(to bottom, #d3d3d3 0%, #f5f5f5 50%, #ffffff 100%);
    color: #2c2c2c;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: normal;
    border-radius: 20px;
    padding: 20px;
}

.populer_urunler .avantajli_urunler_img {
    width: 50px;
    height: 50px;
}

#ust_yazilar {
    order: -1;
    /* En üste al*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(0px, -3px);
}

#ust_yazilar h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

#populer_urunler_ilk {
    text-align: left;
}

#populer_urunler_ikinci {
    text-align: right;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#populer_urunler_ikinci:hover {
    color: white;
}

#buyuktur {
    margin-left: 5px;
}

.populer_urunler_urunler {
    order: 1;
    /* Alta alma */
    width: 100%;
}

.populer_urunler_urunler ul {
    display: flex;
    list-style: none;
    align-items: center;
    transform: translate(0, -12px);
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;

}

.populer_urunler_urunler ul li {
    width: 170px;
    height: 395px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    transition: all 0.3s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    transform: translateY(23px);
    transition: all 0.3s;
}

.populer_urunler_urunler ul li:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.populer_urunler_urunler ul li:active {
    box-shadow: 0 0 7px rgb(196, 3, 255);
    border: 1px solid #ae00ff;
}

.populer_urunler_resim {
    width: 169px;
    height: 250px;
    margin-top: -57.7px;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    object-fit: cover;
}

.kargo_ve_hizli_teslimat {
    background-color: rgb(26, 255, 0);
    color: rgb(79, 79, 79);
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: -8px;
    cursor: default;
}

.hizli_teslimat {
    background-color: rgb(85, 85, 85);
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: -8px;
    cursor: default;
}

.populer_urunler_kategori_yazi {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.populer_urunler_kategori_yazi .populer_urunler_marka_aciklama {
    font-size: 13px;
    margin-left: 2px;
}

.populer_urunler_kategori_yazi .populer_urunler_marka_aciklama b {
    margin-right: 1px;
}

.favorileme_ilk_yazi {
    font-size: 9px;
    color: #f27a1a;
    font-weight: 700;
}

.populer_urunler_favorileme_ve_inceleme {
    text-align: left;
    margin-top: -13px;
    margin-left: 7px;
    text-align: 10px;
}

.favorileme_ikinci_yazi {
    font-size: 9px;
    color: #2c2c2c;
    font-weight: 600;
    margin-left: -1px;
}

.inceleme_yazi {
    font-size: 9px;
    color: #2c2c2c;
    font-weight: 600;
}

.inceleme_ikinci_yazi {
    font-size: 9px;
    color: #f27a1a;
    font-weight: 700;
}

.inceleme_ucuncu_yazi {
    font-size: 9px;
    color: #2c2c2c;
    font-weight: 600;
}

#favorileme_kalp {
    border: none;
    width: 13px;
    height: 13px;
    color: #f27a1a;
}

.kargo_veya_kupon {
    font-size: 10px;
    display: flex;
    margin-left: 5px;
    transform: translate(0, -1px);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.kargo_simge {
    color: rgb(42, 221, 42);
}

.kargo_bedava_yazi {
    color: #2c2c2c;
    margin-left: 4px;
}

.kupon_simge {
    color: #ff00f2;
}

.kupon_yazi {
    color: #ff00f2;
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.degerlendirme {
    font-size: 11px;
    display: flex;
    text-align: left;
    margin-top: 2px;
    margin-left: 4%;
    margin-right: 7%;
    justify-content: space-between;
}

.yildiz_sayi {
    margin-left: -10px;
}

.yildiz_degerlendirme {
    margin: 0 3px 0 3px;
}

.populer_urunler_fiyat {
    font-size: 12px;
    color: #ff872c;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.btn {
    position: absolute;
    /*Üste almak için*/
    top: 10px;
    right: 10px;
    z-index: 10;
    background: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.btn:hover {
    color: #ff872c;
    box-shadow: 0 0 6px rgba(255, 102, 0, 0.6);
}

.btn:active {
    color: #ff25f4;
    background-color: #8407f9;
    box-shadow: 0 4px 6px rgb(196, 3, 255);
    transform: translateY(-5px);
    scale: 1.2;
}

#kalp {
    font-size: 17px;
    margin-top: 2px;
}

.avantajli_urunler_img {
    position: absolute;
    /*Üste almak için*/
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 50px;
    height: auto;
}

.urunlerimiz_ve_aciklama {
    top: -50px;
}

.urunlerimiz_ve_aciklama {
    margin-top: 55px;
}

.urunler {
    width: 100%;
    margin: 20px 0;
}

.urunler ul {
    gap: 25px;
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.urunler ul li {
    width: 250px;
    height: 360px;
    background-color: white;
    border-radius: 15px;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    margin-top: 5px;
}

.urunler ul li:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 0.3s;
}

.urunler ul li:active {
    box-shadow: 0 0 9px rgb(196, 3, 255);
}

.urunler ul li:not(:hover) {
    transition: all ease-in-out 0.3s;
}

.urunler_urun {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*Sola alma*/
    justify-content: flex-end;
    /*Aşağı alma kodu*/
    object-fit: cover;

}

.urunler_urun_resim {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.urunler .populer_urunler_kategori_yazi {
    padding: 5px;
    font-size: 11px;
}

.urunler .populer_urunler_kategori_yazi .populer_urunler_marka_aciklama {
    font-size: 11px;
}

.urunler .degerlendirme {
    text-align: center;
    justify-content: space-between;
}

.urunler #populer_urunler_fiyat {
    font-size: 12px;
    color: #ff872c;
    text-align: center;
    margin: 5px 0;
}

.urunler #populer_urunler_fiyat h3 {
    margin: 0;
    font-size: 13px;
}

.urunler .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.urunler .avantajli_urunler_img {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    width: 40px;
    height: auto;
}

#populer_urunler_kategori_yazi {
    display: flex;
    flex-direction: row;
    padding: 3px;
    font-family: "Poppins", sans-serif;
    margin-left: 2px;
}

#populer_urunler_kategori_yazi #populer_urunler_marka_aciklama {
    font-size: 13px;
}

#populer_urunler_kategori_yazi #populer_urunler_marka_aciklama b {
    margin-right: 1px;
}

#degerlendirme {
    font-size: 11px;
    display: flex;
    text-align: left;
    margin-top: -1.5px;
    margin-left: 16px;
    align-items: flex-start;
    gap: 5px;
}

#yildiz_yazi {
    margin-left: -10px;
}

#yildiz_degerlendirme {
    margin: 0 3px 0 3px;
}

#populer_urunler_fiyat h3 {
    font-size: 20px;
    color: #ff6f00;
    text-align: left;
    font-weight: 900;
    transform: translate(10px, 5px);
}

.foto_emoji {
    margin-top: -1.7px;
}

#foto_emoji {
    margin-top: -1.7px;
}

.urunler_btn {
    position: absolute;
    /*Üste almak için*/
    z-index: 10;
    background: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 203px;
    margin-top: 10px;
    transition: all 0.3s;
}

.urunler_btn:hover {
    color: #ff872c;
    box-shadow: 0 0 6px rgba(255, 102, 0, 0.6);
}

.urunler_btn:active {
    color: #ff25f4;
    background-color: #8407f9;
    box-shadow: 0 4px 6px rgb(196, 3, 255);
    transform: translateY(-5px);
}

.urunler_img {
    width: 50px;
    height: 50px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    z-index: 10;
    margin-left: 12px;
    margin-top: 14px;
}

.urunler_urun_resim {
    width: 250px;
    height: 250px;
    transform: translateY(-14.7px);
}

#urunler_kalp {
    font-size: 17px;
    margin-top: 2px;
}

#pesin_fiyatina {
    align-items: flex-start;
    margin-left: 7px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transform: translateY(5px);
}

#urunler_asagi_tarafi {
    transform: translateY(-10px);
}

#pesin_fiyatina #pesin {
    gap: 2px;
    color: #8407f9;
}

#pesin_fiyatina #fiyat {
    margin-left: 3px;
    border: 1px solid #8407f9;
    background-color: #8407f9;
    color: white;
    border-radius: 2px;
    position: relative;
}

#pesin_fiyatina #fiyat h4 {
    color: #ffffff;
    position: relative;
    z-index: 1000;
    /*Katman olarak en üste alma*/
}

.yukari_getir {
    bottom: 30px;
    right: 17.5px;
    width: 45px;
    height: 45px;
    background-color: #000000;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.40);
    transition: all 0.3s;
    position: fixed; /*Sabitlemek için kullanıldı*/
    z-index: 999;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.yukari_getir:hover {
    background-color: #464646;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(133, 133, 133, 0.2);
    transform: scale(1.05);
}
.yukari_getir:active{
    background-color: #00ff2f;
    box-shadow: 0 6px 16px rgba(1, 84, 0, 1);
    color: rgba(1, 84, 0, 0.974) ;
}
.yukari_getir:not(:active){
    color: white;
}